#annotationEditor {
    position: absolute;
    top: 12px;
    right: 12px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    visibility: hidden;
}

.modal {
    width: 400px;
    height: 300px;
    position: absolute;
    top: 0;
    /*position: fixed;*/
    /*top: 50%; */
    /*left: 50%;*/
    /*margin-top: -100px;*/
    /*margin-left: -150px;*/
    background-color: #ffffff;
    border-radius: 5px;
    text-align: left;
    z-index: 11;
    visibility: hidden;
}

textarea, button, input, select {
    width : 370px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

textarea {
    height : 200px;
    resize: none;
}

button {
    height: 100px;
}

#saveButton {
    width: 150px;
    height: 20px;
    background-color: #D6D6D6;
    text-align: center;
}
