    #dropzone{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 600px;
        height: 200px;
        font-family: "Helvetica";
        text-align: center;
        z-index: 5;
    }

    #roundedBackground {
        padding: 10% 0;
        width: 90%;
        margin: 0 auto;
        border-color: rgb(192, 192, 192);
        border-style: dashed;
        border-radius: 20px;
        background-color: rgba(255,255,255,0.4);
    }

    #uploadProgressBar{
        width: 200px;
        height: 20px;
        -webkit-appearance: none;
        visibility: hidden;
    }

    #canvasDraw {
        margin: 0 auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 4;
      }

    #canvasZoom {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
      }

    #canvasSeek {
        z-index: 1;
        border-radius: 10px;
    }

    #video {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -2;
        border:1px solid #2e52a4;
    }

    #canvasDiv{
        position: relative;
        left:15%;
        width: 75%;
      }

    #buttonDiv{
        position: relative;
        left:15%;
        width: 75%;
     }

    #row{position: relative;
        left: 25%;
        width: 75%;
        height: 10px;
    }

    #media-player {
    float:left;
    padding:1em 1em .5em;
    background-color:#333;
}

#play-pause-button, #stop-button, #previous-button, #next-button {
    display: inline-block;
    text-indent:-9999px;
    width:50px;
    height:50px;
    border:none;
    cursor:pointer;
    background:transparent url('buttons.png') no-repeat 0 0;
    z-index: inherit;
}

#playbackspeed {
    display: inline-block;
}

#playbackspeed_width {
    display: inline-block;
    width: 100px;
}

#stop-button { background-position:-100px 0; }
#previous-button { background-position:-150px 0; }
#next-button { background-position:-200px 0; }

