.videoLibraryTitle {
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.5), inset 0px -3px 15px -1px rgba(0,0,0,0.2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: Helvetica;
    background: #2e52a4;
}

.videoLibraryTitle h1 {
    text-align: center;
    margin: 0px 0px 0px 0px;
    color: #fff;
    font-size: 26px;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
    letter-spacing: -1px;
}

#videoLibrary {
    position: absolute;
    top: 12px;
    left: 12px;
}

#videoList div {
    font-family: Helvetica;
    padding: 5px 0px 5px  5px;
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
    margin: 0;
    color: #666;
}

#videoList div:hover {
    background: rgba(255,255,255,0.8);
}

.blinking {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
